<!DOCTYPE html>
<html ng-app="ngCurtainDemo" ng-controller="AppCtrl">
  <head>
    <title>ng-curtain</title>

    <!-- your compiles CSS -->
    <link rel="stylesheet" type="text/css" href="<%= grunt.config.get('pkg.name') %>.css"/>

    <!-- libs.js contains all of the concatenated third-party libraries -->
    <script type="text/javascript" src="libs.js"></script>

    <!-- this is your compiled, minified application code -->
    <script type="text/javascript" src="<%= grunt.config.get('pkg.name') %>.js"></script>

    <!-- inline demo code -->
    <script type="text/javascript">
      var app = angular.module( 'ngCurtainDemo', [ 'ngCurtain', 'placeholders' ] );

      app.controller( 'AppCtrl', function ( $scope ) {
        console.log('hello!');
      });
    </script>
  </head>
  <body>

    <div ctn-curtain>
      <div ctn-section="home" div ctn-section-cover="true" class="section-cover">
        <div class="section-inner jumbotron">
          <div class="container">
            <div class="brand">ngCurtain</div>
            <div class="tagline">
              A set of pure AngularJS directives to create a wicked-cool, "rising
              curtain" effect to unroll the sections of your website. Scroll
              down to see what I mean!
            </div>
          </div>
        </div>

        <div class="scroll-icon">
          <div class="inner"><i class="icon-chevron-down"></i></div>
        </div>
      </div>
      <div ctn-section="about" div ctn-section-cover="true" class="section-about">
        <div class="section-inner">
          <div class="container">
            <div class="row">
              <div class="span6 massive-icon"><i class="icon-lightbulb"></i></div>
              <div class="span6">
                <div class="header">What is it?</div>
                <div class="body" ph-txt="3p4s"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ctn-section="section2" div ctn-section-cover="true" class="section2">
        <h1>ngCurtain</h1>
        <img src="http://placehold.it/500x300" />
      </div>
      <div ctn-section="contact" div ctn-section-cover="true" class="section-footer">
        <div class="section-inner jumbotron">
          <div class="container">
            <div class="brand">ngCurtain</div>
            <div class="tagline">
              Created by Josh David Miller
            </div>
            <ul class="social inline">
              <li><a href="http://gplus.to/joshdmiller"><i class="icon-google-plus-sign"></i></a></li>
              <li><a href="http://twitter.com/joshdmiller"><i class="icon-twitter-sign"></i></a></li>
              <li><a href="http://github.com/joshdmiller"><i class="icon-github-sign"></i></a></li>
              <li><a href="http://linkedin.com/in/joshdmiller"><i class="icon-linkedin-sign"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
